body {
    font-family: 'arial', sans-serif;
    font-size: 1em;
}
header {
    background: #000;
    color: #FFF;
    height: 3em;
    line-height: 3em;
    padding-left: .8em;
    padding-right: .8em;
}
header h2 {
    float: right;
    margin: 0;
}
select {
    width: 14.28%;
    height: 2em;
    border: none;
}
.calendar {
    width: 100%;
}
.entry {
    border-bottom: 1px solid #ccc;
    height: 9em;
    width: 12.5%;
    float: left;
    position: relative;
    margin-right: 5px;
}
.entry:nth-child(8) {
    clear: left;
}
.gray {
    background: #eee !important;
}
.day {
    right: 0;
    top: 3px;
    position: absolute;
}
.nospace {
    margin: 0;
    padding: 0;
}
